.landing {
    height: 100vh;
    width: 100vw;
    background-color: #eeeeee;
}

@media(min-width: 992px) {
    .logo-image {
        width: 15vw;
        height: 15vw;
    }
}
@media(max-width: 992px) {
    .logo-image {
        width: 20vh;
        height: 20vh;
    }
}
