.navbar-bg {
    background-color: #003262;
}

.igi-header {
    color: #FDB515;
}

@media(min-width: 992px) {
    .igi-header{
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

@media(max-width: 992px) {
    .igi-header{
        font-size: 2.0rem;
        line-height: 1.2;
    }
}
